.breadcrumb {
    padding: 0;
    background: transparent;
    color: #e6e6e6;
}

.profile-pre-text {
    padding: 30px 0;
}

.cut-form {
    font-size: 28px;
    text-align: left;
    padding: 15px 0;
}

.change-plan h5 {
    margin-top: 0;
}

.change-plan h4 {
    margin-bottom: 0px;
}

p.ajude {
	font-size: 15px;
	text-align: center;
	color: #cea117;
}

.tab-pane .form-horizontal .form-group {
	padding-top: 20px;
}