.details-plan .the-plan h4,
.details-plan .the-plan h5, 
.details-plan .the-plan h6 {
    margin: 0;
    text-align: left;
}

.details-plan .the-plan .text {
    margin-top: 50px;
}

.details-plan .block-partner a {
    color: #46c346
}

.details-plan .the-plan h6 {
	font-size: 10px;
	color: #efc74a;
}