.control-fidelity {
	background: url('../img/controlefidelidade.png') no-repeat 0 -107px;
	width: 98px;
	height: 97px;
}

.control-fidelity span {
	position: absolute;
    top: 30px;
    left: 48px;
    font-size: 26px;
    color: #a6a6a6;
}

.month {
	margin: 30px 0;
}

.control-fidelity.active span {
    color: #efc74a;
}

.month .label-month {
	margin-left: 20px;
	margin-top: 10px;
}

.control-fidelity.active {
	background: url('../img/controlefidelidade.png') no-repeat -108px -107px;
}

.control-fidelity.gift {
	background: url('../img/controlefidelidade.png') no-repeat 0 0;
}

.control-fidelity.gift.active {
	background: url('../img/controlefidelidade.png') no-repeat -108px 0;
}