.profile-menu span {
    background: #ab50ff;
    color: #ffffff;
    padding: 5px;
    text-transform: uppercase;
    font-size: 8px;
    margin: 5px;
    line-height: 5px;
    display: inline-block;
}

.profile-menu span.inverse {
    background: transparent;
    color: #ab50ff;
    margin: 0px;
}

.profile-menu  {
    border-right: 2px solid #e6e6e6;
}

.profile-menu .user-coins {
	text-align: center;
	font-size: 18px;
}

.profile-menu  ul {
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
}

.profile-menu ul:last-child {
    border-bottom: none;
}

.profile-menu ul.menu {
	margin: 0;
	padding: 10px 0;
}

.profile-menu ul li {
    margin: 5px 0;
}

.profile-menu ul li a {
    font-size: 14px;
	font-weight: initial;
}

.profile-menu h5 {
    text-align: left;
    margin-bottom: 5px;
}

.profile-menu p {
    margin: 0px;
    font-size: 12px;
    color: #cccccc;
}

.profile-menu .photo-user img ~ label {
    position: absolute;
    right: 20px;
    top: 95px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.profile-menu .photo-user img:hover ~ label,
.profile-menu .photo-user img ~ label:hover {
    opacity: 1;
}