.my-item:after {
    content: '+';
    position: absolute;
    top: 120px;
    right: -8px;
    font-size: 24px;
    font-weight: bold;
}

.my-item {
    padding: 20px;
    max-height: 300px;
}

.my-item .product-value {
    text-align: center;
}

.my-item .product-image {
    width: 180px;
    height: 180px;
    border: 1px solid #414141;
    border-radius: 3px;
    margin: 10px 0;
}

.my-item .product-image label.btn-remove {
    position: absolute;
    bottom: 80px;
    right: 40px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.my-item .product-image:hover label.btn-remove {
    opacity: 1;
}

.my-item .product-info {
    text-align: center;
}

a.hold-add-item .add-item {
    margin: 50px 15px;
    height: 180px;
    width: 180px;
    padding: 70px 40px;
    border: 1px dashed #e6e6e6;
    border-radius: 3px;
    text-align: center;
    color: #e6e6e6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.hold-add-item .add-item span {
    padding: 50px;
}

a.hold-add-item:hover .add-item {
    border: 1px dashed #414141;
    color: #414141;
}

.title-my-box {
    margin-bottom: 30px;
}
