section#vitrine-filter a.go-to-vitrine {
    border: 1px solid #414141;
    padding: 10px;
    color: #414141;
}

.product-page {
    padding: 60px 0;
}

.product-page .product-image {
    margin-bottom: 30px;
}

.product-page ul.product-buttons {
    display: inline-block;
    padding: 0;
}

.product-page .product-info {
    padding: 0;
}

.product-page ul.product-buttons li {
    display: block;
    margin-left: 0;
    margin-top: 2px;
}

.product-page ul.product-buttons li a {
    color: #414141;
    border: 1px solid #414141;
}

.product-page ul.product-buttons li.active a.add {
    border: 1px solid #46c346;
}

.product-page ul.product-buttons li a.remove {
    border: 1px solid #e66450;
}

.product-page ul.product-buttons li a.love:hover {
    color: #414141;
}

.product-page ul.product-buttons li a {
    padding: 5px 0;
}

.product-page ul.product-buttons li:first-child {
    margin-top: 0;
}

.product-page .product-value {
    text-align: center;
    font-family: allerregular;
    font-weight: bold;
    font-size: 14px;
    border-top: 1px solid #e6e6e6;
    padding: 30px 0;
}

.product-page h4 {
    text-align: left;
}

.product-page h4 > span {
    font-size: 9px;
}

.product-page .product-details {
    text-align: left;
    font-family: aller_lightregular;
    color: #8d8d8d;
    font-weight: normal;
}

.product-page .buttons {
    display: block;
    margin: 30px 0;
}

.product-page .buttons a {
    padding: 10px;
    border: 1px solid #414141;
}

.product-page .buttons a.love {
    border-color: #efc74a;
    color: #efc74a;
    background: transparent;
}

.product-page .buttons a.love:hover,
.product-page .buttons a.love.active {
    background-color: #efc74a;
    color: #414141;
}

.product-page .buttons a.add {
    border-color: #46c346;
    color: #46c346;
}

.product-page .buttons a.add:hover,
.product-page .buttons a.add.active {
    background-color: #46c346;
    color: #e6e6e6;
}