section#vitrine-menu {
    background: #414141;
    padding: 0;
    color: #e6e6e6;
}

section#vitrine-menu ul {
    padding: 20px 0;
    margin-bottom: 0;
}

section#vitrine-menu ul li {
    border-right: 1px solid #e6e6e6;
    padding: 0 20px;
    display: inline-block;
}
section#vitrine-menu ul li:last-child {
    border-right: none;
}

section#vitrine-menu ul li a {
    color: #e6e6e6;
}

section#vitrine {
    padding: 0;
}

section#vitrine-filter {
    background: #e6e6e6;
    padding: 20px 0;
    color: #414141;
    text-align: center;
}

section#vitrine .product-border {
    border: 1px solid #e6e6e6;
    border-top: 0px;
    border-left: 0px;
    height: 500px;
    padding: 0;

}

.block-product {
    padding: 60px 0;
}

.block-product .options {
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
    width: 100%;
}

.block-product .vitrine-product-top {
    position: absolute;
    top: 40px;
    margin: 0 auto;
    width: 100%;
}

.block-product .img-product {
    position: absolute;
    top: 120px;
    margin: 0 auto;
    width: 100%;
}

.block-product h5 {
    margin: 10px 0 0 0;
}

.block-product h6 {
    font-size: 9px;
    margin: 0;
}

.block-product .coin-value .show-coin {
    margin-top: 15px;
}

.block-product .progress-text {
    font-size: 11px;
    margin-bottom: 5px;
}

ul.product-buttons {
    padding: 0;
}

ul.product-buttons li {
    width: 30px;
    height: 30px;
    text-align: center;
}

.ul-buttons,
.product-details,
.progressbar-row,
.coin-value
{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product-border .ul-buttons,
.product-border .product-details,
.product-border:hover .progressbar-row,
.product-border:hover .coin-value {
    opacity: 0;
    /*height: 0;*/
}

.product-border:hover  .ul-buttons,
.product-border:hover .product-details {
    opacity: 1;
    /*height: auto;*/
}


.block-product ul.product-buttons li {
    display: inline-block;
}

.block-product ul.product-buttons {
    padding: 20px;
}

.block-product ul.product-buttons a.love {
    color: #efc74a;
}

.block-product ul.product-buttons a.love:hover i.fa-heart {
    display: inline-block;
}

.block-product ul.product-buttons a.love i.fa-heart,
.block-product ul.product-buttons a.love:hover i.fa-heart-o {
    display: none;
}

.block-product ul.product-buttons a.unlove {
    color: #e66450;
}

.block-product ul.product-buttons a.unlove:hover i.fa-heart-o {
    display: inline-block;
}

.block-product ul.product-buttons a.unlove i.fa-heart-o,
.block-product ul.product-buttons a.unlove:hover i.fa-heart {
    display: none;
}

.block-product ul.product-buttons a.add {
    color: #46c346;
}

.block-product ul.product-buttons a.add:hover i.myb-box-o {
    display: inline-block;
}

.block-product ul.product-buttons a.add i.myb-box-o,
.block-product ul.product-buttons a.add:hover i.myb-box {
    display: none;
}

.block-product ul.product-buttons a.remove {
    color: #e66450;
}

.block-product ul.product-buttons a.remove:hover i.myb-box-remove-o {
    display: inline-block;
}

.block-product ul.product-buttons a.remove i.myb-box-remove-o,
.block-product ul.product-buttons a.remove:hover i.myb-box-remove {
    display: none;
}

ul.product-buttons li a {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    display: block;
    width: 29px;
    height: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.product-buttons li a.love {
    color: #efc74a;
    border: 1px solid #efc74a;
}

ul.product-buttons li a.love:hover,
ul.product-buttons li.active a.love  {
    color: #ffffff;
    border: 1px solid #414141;
    background: #efc74a;
}

ul.product-buttons a.love:hover i,
a.love:hover i {
    animation: pulse .5s;
    -webkit-animation: pulse .5s;
    animation-iteration-count: infinite;
}
/*
ul.product-buttons li a.add {
    color: #46c346;
    border: 1px solid #46c346;
}

ul.product-buttons li a.add:hover {
    color: #ffffff;
    border: 1px solid #414141;
    background: #46c346;
}

ul.product-buttons li a.remove {
    color: #e66450;
    border: 1px solid #e66450;
}

ul.product-buttons li a.remove:hover {
    color: #ffffff;
    border: 1px solid #414141;
    background: #e66450;
}

ul.product-buttons li a.zoom {
    color: #414141;
    border: 1px solid #414141;
}

ul.product-buttons li a.zoom:hover {
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
    background: #414141;
}

ul.product-buttons li a.gallery {
    color: #ab50ff;
    border: 1px solid #ab50ff;
}

ul.product-buttons li a.gallery:hover {
    color: #a6a6a6;
    border: 1px solid #a6a6a6;
    background: #ab50ff;
}*/

.block-product .img-product img {
    position: relative;
    max-height: 260px;
}

.block-product:hover .img-product .about {
    opacity: 0.8;
}

.block-product:hover .img-product .about span {
    opacity: 1;
}

.block-product .img-product .about {
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.block-product .img-product .about span {
    color: #414141;
    opacity: 0;
    top: 50%;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

progress {
    border: 0;
    border-radius: 50px;
    background: #efc74a;
}

progress::-webkit-progress-bar {
    border: 1px solid #414141;
    border-radius: 50px;
    background: #ffffff;
}

progress::-webkit-progress-value {
    border: 0;
    border-radius: 50px;
    background: #efc74a;
}

progress.sold-out,
progress.sold-out::-webkit-progress-value {
    background: #e66450;
}

