@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller_bd-mybfont.woff2') format('woff2'),
         url('../fonts/aller_bd-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerbold_italic';
    src: url('../fonts/aller_bdit-mybfont.woff2') format('woff2'),
         url('../fonts/aller_bdit-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_displayregular';
    src: url('../fonts/allerdisplay-mybfont.woff2') format('woff2'),
         url('../fonts/allerdisplay-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alleritalic';
    src: url('../fonts/aller_it-mybfont.woff2') format('woff2'),
         url('../fonts/aller_it-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightregular';
    src: url('../fonts/aller_lt-mybfont.woff2') format('woff2'),
         url('../fonts/aller_lt-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightitalic';
    src: url('../fonts/aller_ltit-mybfont.woff2') format('woff2'),
         url('../fonts/aller_ltit-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_rg-mybfont.woff2') format('woff2'),
         url('../fonts/aller_rg-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
