<template>
    <div style="display: inline-block;">{{ value }}</div>
</template>

<script>
    export default {
            props: {},

            data() {
                return {
                    value: 0
                }
            },

            ready() {}

        }
</script>
