section#banner {
    background: url('../../img/img_banner_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    -webkit-transition: min-height .8s ease-in;
    -moz-transition: min-height .8s ease-in;
    -ms-transition: min-height .8s ease-in;
    -o-transition: min-height .8s ease-in;
    transition: min-height .8s ease-in;
}

section#banner .typing {
    margin-top: 200px;
    margin-bottom: 50px;
}

section#banner h1 {
    color: #ffffff;
}

section#banner h1 > span {
    background: #efc74a;
    color: #414141;
    padding: 8px;
}

section#banner a.btn + a.btn {
    margin-left: 30px;
}