@-ms-viewport {
    width: device-width;
}

.modal-dialog {
	margin: 100px auto;
}

@media screen and (max-width: 480px) {
    body, input, select, textarea, label, a, .btn {
        font-size: 11px;
    }

    section#plans .asterisk {
        font-size: 8px;
    }

    section#banner h1 > span {
        padding: 0.5px 5px;
    }

    section#banner a.btn + a.btn {
        margin-left: 0px;
    }

    section#banner {
        min-height: 450px;
    }

    section#banner h1 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    section#banner .typing {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 360px) {
    body, input, select, textarea, label, a, .btn {
        font-size: 11px;
    }
}

#spark-navbar-collapse {
    margin: 0px !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.img-responsive {
    display: inline-block;
}

header .img-responsive {
	display: inline-block;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
    width: auto;
}

.media.button {
    background-color: #efc74a;
    height: 30px;
    width: 30px;
    padding: 1px;
    display: inline-block;
    color: #414141;
    text-align: center;
    font-size: 20px;
    transition: all .5s;
}

.media.button:hover {
	background-color: #414141;
	color: #efc74a;
}

/* Basic */
body {
    background: #FFFFFF;
    font-family: 'aller_lightregular';
    font-weight: bold;
    font-size: 13px;
    color: #414141;
    transition: margin .5s;
    padding-top: 48px;
}

body.menu-ativo {
	margin-left: 180px;
}

a {
    cursor: pointer;
    font-family: allerregular;
    color: #414141;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

b,
strong {
    font-weight: bold !important;
}

a:hover,
a:focus {
    color: #efc74a;
    text-decoration: none;
}

a.btn {
    padding: 10px 20px;
    border-radius: 30px;
    background: #efc74a;
    color: #414141;
    border: 2px solid #efc74a;
    white-space: normal;
}

a.btn:hover {
    background: transparent;
    color: #efc74a;
    border: 2px solid #efc74a;
}

a.btn.white {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

a.btn.white:hover {
    background: #ffffff;
    color: #414141;
}

h1, h2, h3, h4, h5, h6 {
    font-family: allerregular;
    color: #414141;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.center {
	display: block;
	margin: auto;
	float: none !important;
}

.area-buttons {
	margin-top: 20px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.dib {
    display: inline-block;
}

.yellow {
    color: #efc74a;
}

.white {
    color: #ffffff;
}

.red {
    color: #e66450;
}

.green {
	color: #46c346;
}

.purple {
    color: #ab50ff;
}

.bold {
    font-weight: bold;
}

.va-top {
    vertical-align: top;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

header {
    background: #f3f3f3;
	position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    border-color: #efc74a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 199, 74, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 199, 74, .6);
}

header img {
    margin: 10px 0;
}

header a {
    text-transform: uppercase;
    font-weight: bold;
}

/** #### FOOTER #### **/

footer {
    padding-top: 30px;
    background: #f3f3f3;
    font-size: 12px;
    font-family: 'aller_lightregular';
}

footer ul {
    padding-left: 0px;
}

footer .container-fluid {
    margin-top: 30px;
}

footer ul.copyright {
    font-size: 10px;
    padding: 10px;
    background: #414141;
    color: #ffffff;
    text-align: center;
    text-transform: none;
    margin: 0 0;
}

footer li,
footer li a {
    text-transform: none;
    font-size: 12px;
    font-family: 'aller_lightregular';
}

footer .media li {
    display: inline-block;
}

footer ul h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'allerbold';
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

footer ul.logo h4 {
    padding-bottom: 5px;
}

footer hr {
    margin: 60px 15px;
    background: #e6e6e6;
    color: #e6e6e6;
    border: 0;
    height: 3px;
    box-shadow: 0 10px 10px -10px #ffffff inset;
}

nav {
    padding: 15px 23px;
    border-right: 1px solid #cccccc;
    display: inline;
    padding-left: 0px;
}

ul, li, ol {
    list-style: none;
}

section {
    padding: 60px 0;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    text-align: center;
}

button,
button.btn {
    padding: 10px 20px;
    background: #efc74a;
    color: #414141;
    border-radius: 0px;
}

div[coins] {
    display: inline-block;
}

.coins {
    background: url("../img/coins.png");
    display: inline-block;
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.myb-box {
    background: url('../img/myb-box.png') no-repeat -25px -2px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.myb-box-o {
    background: url('../img/myb-box.png') no-repeat -25px -30px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.myb-box-remove {
    background: url('../img/myb-box.png') no-repeat -50px -2px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.myb-box-remove-o {
    background: url('../img/myb-box.png') no-repeat -50px -30px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.myb-box-gg {
    background: url('../img/myb-box-gg.png') no-repeat -100px 0;
    width: 90px;
    height: 101px;
    display: inline-block;
    vertical-align: middle;
}

.myb-lupe {
    background: url('../img/stripe-icons.png') no-repeat -5px -5px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.myb-lupe:hover,
.myb-lupe.active,
.active .myb-lupe {
    background: url('../img/stripe-icons.png') no-repeat -45px -5px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.myb-gallery {
    background: url('../img/stripe-icons.png') no-repeat -5px -50px;
    width: 20px;
    height: 14px;
    display: inline-block;
    vertical-align: sub;
}

.myb-gallery:hover,
.myb-gallery.active,
.active .myb-gallery {
    background: url('../img/stripe-icons.png') no-repeat -45px -50px;
    width: 20px;
    height: 14px;
    display: inline-block;
    vertical-align: sub;
}

.myb-like {
    background: url('../img/stripe-icons.png') no-repeat -45px -91px;
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: sub;
}

.myb-like:hover,
.myb-like.active,
.active .myb-like,
:hover > .myb-like {
    background: url('../img/stripe-icons.png') no-repeat -5px -91px;
    width: 20px;
    height: 16px;
}

.myb-box-g-disabled {
    background: url('../img/stripe-icons.png') no-repeat -45px -130px;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.myb-box-g {
    background: url('../img/stripe-icons.png') no-repeat -5px -130px;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
}

.product-page .myb-box-g:hover,
.product-page .myb-box-g.active,
.product-page .active .myb-box-g,
.product-page :hover > .myb-box-g,
.product-page .myb-box-remove-g:hover,
.product-page .myb-box-remove-g.active,
.product-page .active .myb-box-remove-g,
.product-page :hover > .myb-box-remove-g {
    background: url('../img/stripe-icons.png') no-repeat -45px -130px;
    width: 20px;
    height: 22px;
}

.myb-box-remove-g {
    background: url('../img/stripe-icons.png') no-repeat -5px -172px;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
}

.bootstrap-select button.btn {
    background: #f3f3f3;
}

.caps {
    text-transform: uppercase;
}

.pre-section {
    background: #f3f3f3;;
}

.pre-section h1 {
    color: #a6a6a6;
    font-size: 28px;
}

.pre-section h3 {
    color: #efc74a;
    text-transform: none;
}

.pre-section h2 {
    margin: 60px 0;
}

.pre-section + section h4 {
    font-family: 'aller_lightregular';
    text-transform: none;
}

.alert {
    padding: 15px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border: none;
    font-family: allerregular;
    font-weight: bold;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.alert i,
.alert div {
    padding-left: 5px;
    display: table-cell;
}

.alert div,
.alert span {
    vertical-align: middle;
}

.alert-warning {
    background: #ab50ff;
    color: #FFFFFF;
}

.alert-success {
    background: #efc74a;
    color: #414141;
}

.alert-danger {
    background: #e66450;
    color: #FFFFFF;
}

li.dropdown:hover > ul.dropdown-menu,
li.dropdown:active > ul.dropdown-menu{
    display: block;
}

header .nav.navbar-nav ul.dropdown-menu li a {
    padding: 15px 5px;
    height: 45px;
    text-transform: none;
}

header .nav.navbar-nav ul.dropdown-menu li a:hover {
    background: #e6e6e6;
}

header .nav.navbar-nav ul.dropdown-menu .dropdown-menu .divider {
    margin: 3px 0;
}

header .nav.navbar-nav ul.dropdown-menu .dropdown-header {
    padding: 3px 10px;
}

#funciona {
	padding: 0;
	margin: 0;
}

#funciona .item {
	width: 100%;
	height: 413px;
	background: #414141;
	display: block;
	float: left;
	text-align: center;
}

#funciona .item p {
	color: #e6e6e6;
	font-family: 'allerbold';
	font-size: 26px;
}

#funciona .item p span {
	color: #f0c84b;
}

#funciona .item .insane,
#funciona .item .survival {
	background: url('../img/banner_home.png') no-repeat 0 0;
	width: 197px;
	height: 172px;
	display: block;
	margin: auto;
}

#funciona .item .survival {
	background-position: -226px 0;
}

#funciona .item1 .container,
#funciona .item2 .container {
	margin-top: 120px;
}

#funciona .item1 p,
#funciona .item2 p {
	margin-top: 30px;
}

#funciona .item3 .container,
#funciona .item5 .container,
#funciona .item6 .container {
	margin-top: 30px;
}

#funciona .item3 .funko {
	display: block;
	background: url('../img/banner_home.png') no-repeat 0 -200px;
	width: 296px;
	height: 110px;
	margin: 40px auto;
}

#funciona .item4 .container {
	margin-top: 45px;
}

#funciona .item4 .camisa {
	display: block;
	background: url('../img/banner_home.png') no-repeat -197px -200px;
	width: 99px;
	height: 78px;
	margin: 40px auto;
}

#funciona .item5 .caixa {
	display: block;
	background: url('../img/banner_home.png') no-repeat -325px -211px;
	width: 86px;
	height: 99px;
	margin: 40px auto;
}

#funciona .item6 .coin {
	margin: 20px auto 30px;
}

#funciona .item6 .coin .col-lg-4:nth-child(1):after,
#funciona .item6 .coin .col-lg-4:nth-child(2):after {
	content: "+";
	display: block;
    color: #e6e6e6;
    font-size: 30px;
    position: absolute;
    top: 60px;
    right: 0;
}

#funciona .item6 .coin .col-lg-4:nth-child(2):after {
	content: "=";
}

#funciona .item6 .coin .coins {
	display: block;
	background: url('../img/banner_home.png') no-repeat -356px -330px;
	width: 55px;
	height: 55px;
	margin: 40px auto 10px;
}
/*
#funciona .owl-dots {
	text-align: right;
    margin-top: -30px;
    position: relative;
    margin-right: 20px;
}

#funciona .owl-dots .owl-dot {
	display: inline-block;
	background: #e6e6e6;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	transition: all 1s;
}

#funciona .owl-dots .owl-dot.active {
	background: #f0c84b;
}*/


#funciona .owl-nav .owl-prev,
#funciona .owl-nav .owl-next {
	background: url('../img/banner_home.png') no-repeat -26px -325px;
	width: 56px;
	height: 106px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -53px;
	left: 30px;
}

#funciona .owl-nav .owl-next {
	background-position: -92px -325px;
	left: auto;
	right: 10px;
}

section#vitrine-menu {
    background: #414141;
    padding: 0;
    color: #e6e6e6;
}

section#vitrine-menu ul {
    padding: 20px 0;
    margin-bottom: 0;
}

section#vitrine-menu ul li {
    border-right: 1px solid #e6e6e6;
    padding: 0 20px;
    display: inline-block;
}
section#vitrine-menu ul li:last-child {
    border-right: none;
}

section#vitrine-menu ul li a {
    color: #e6e6e6;
}

section#vitrine {
    padding: 0;
}

section#vitrine h2 {
	font-size: 16px;
}

section#vitrine-filter {
    background: #e6e6e6;
    padding: 20px 0;
    color: #414141;
    text-align: center;
}

section#vitrine .product-border {
    border: 1px solid #e6e6e6;
    border-top: 0px;
    border-left: 0px;
    height: 500px;
    padding: 0;

}

.block-product {
    padding: 60px 0;
}

.block-product .options {
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
    width: 100%;
}

.block-product .vitrine-product-top {
    position: absolute;
    top: 40px;
    margin: 0 auto;
    width: 100%;
}

.block-product .img-product {
    position: absolute;
    top: 120px;
    margin: 0 auto;
    width: 100%;
}

.block-product h5 {
    margin: 10px 0 0 0;
}

.block-product h6 {
    font-size: 9px;
    margin: 0;
}

.block-product .coin-value .show-coin {
    margin-top: 15px;
}

.block-product .progress-text {
    font-size: 11px;
    margin-bottom: 5px;
}

ul.product-buttons {
    padding: 0;
}

ul.product-buttons li {
    width: 30px;
    height: 30px;
    text-align: center;
}

.ul-buttons,
.product-details,
.progressbar-row,
.coin-value
{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product-border .ul-buttons,
.product-border .product-details,
.product-border:hover .progressbar-row,
.product-border:hover .coin-value {
    opacity: 0;
    /*height: 0;*/
}

.product-border:hover  .ul-buttons,
.product-border:hover .product-details {
    opacity: 1;
    /*height: auto;*/
}


.block-product ul.product-buttons li {
    display: inline-block;
}

.block-product ul.product-buttons {
    padding: 20px;
}

.block-product ul.product-buttons a.love {
    color: #efc74a;
}

.block-product ul.product-buttons a.love:hover i.fa-heart {
    display: inline-block;
}

.block-product ul.product-buttons a.love i.fa-heart,
.block-product ul.product-buttons a.love:hover i.fa-heart-o {
    display: none;
}

.block-product ul.product-buttons a.unlove {
    color: #e66450;
}

.block-product ul.product-buttons a.unlove:hover i.fa-heart-o {
    display: inline-block;
}

.block-product ul.product-buttons a.unlove i.fa-heart-o,
.block-product ul.product-buttons a.unlove:hover i.fa-heart {
    display: none;
}

.block-product ul.product-buttons a.add {
    color: #46c346;
}

.block-product ul.product-buttons a.add:hover i.myb-box-o {
    display: inline-block;
}

.block-product ul.product-buttons a.add i.myb-box-o,
.block-product ul.product-buttons a.add:hover i.myb-box {
    display: none;
}

.block-product ul.product-buttons a.remove {
    color: #e66450;
}

.block-product ul.product-buttons a.remove:hover i.myb-box-remove-o {
    display: inline-block;
}

.block-product ul.product-buttons a.remove i.myb-box-remove-o,
.block-product ul.product-buttons a.remove:hover i.myb-box-remove {
    display: none;
}

ul.product-buttons li a {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    display: block;
    width: 29px;
    height: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.product-buttons li a.love {
    color: #efc74a;
    border: 1px solid #efc74a;
}

ul.product-buttons li a.love:hover,
ul.product-buttons li.active a.love  {
    color: #ffffff;
    border: 1px solid #414141;
    background: #efc74a;
}

ul.product-buttons a.love:hover i,
a.love:hover i {
    animation: pulse .5s;
    -webkit-animation: pulse .5s;
    animation-iteration-count: infinite;
}

.block-product .img-product img {
    position: relative;
    max-height: 260px;
}

.block-product:hover .img-product .about {
    opacity: 0.8;
}

.block-product:hover .img-product .about span {
    opacity: 1;
}

.block-product .img-product .about {
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.block-product .img-product .about span {
    color: #414141;
    opacity: 0;
    top: 50%;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width : 768px) {
	#funciona .item .insane,
	#funciona .item .survival,
	#funciona .item6 .coin p,
	#funciona .item2 span + p,
	#funciona .item6 .coin .col-lg-4:nth-child(1):after,
	#funciona .item6 .coin .col-lg-4:nth-child(2):after {
		display: none;
	}
	
	#funciona .item6 .container {
		margin-top: 50px;
	}
	
	#funciona .item p {
		font-size: 18px;
	}
	
	
}