label,
form .form-group label {
	display: block;
	color:  #414141;
	font-size: 16px;
	text-align: left;
	padding: 0px;
	white-space: normal;
}

select,
select.form-control,
input,
.input-lg,
.input-md,
.input-sm,
.input-xs,
.btn-select,
input.form-control {
	background-color: #f3f3f3;
	border-radius: 0px;
	border: 1px solid #a6a6a6;
	width: 100%;
}

form button,
button.btn {
	font-family: 'allerregular';
	font-weight: bold;
	border-radius: 0px;	
}

form button[type="submit"].btn,
button.btn {
	padding: 20px;
	text-transform: uppercase;
	border-bottom: 3px solid #efc74a;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

form button[type="submit"].btn:hover,
button.btn:hover {
	border-bottom: 3px solid #414141;
	color: #efc74a;
	background: #414141;
}

form textarea {
	resize: none;
	width: 100%;
	min-height: 300px;
}

button.btn.btn-white {
	background: #ffffff;
	color: #efc74a;
	border: 1px solid #efc74a;
	border-bottom: 2px solid #efc74a;
}

.form-control:focus {
	border-color: #efc74a;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 199, 74, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 199, 74, .6);
}

@media screen and (max-width: 480px) {
	label,
	form .form-group label {
		font-size: 13px;
	}

	form button[type="submit"].btn,
	button.btn {
		white-space: normal;
		font-size: 14px;
		font-weight: bold;
	}
}

@media only screen and (max-width : 768px) {
	.register .form-horizontal .form-group {
		border-top: 1px solid #ccc;
		padding-top: 15px;
	}
}