.control-group {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.control-group .control--checkbox .text,
.control-group .control--radio .text {
    margin: 0 0 0 20px;
}

.control {
    position: relative;
    cursor: pointer;
    display: inline-block;
    float: left;
    width: auto;
    top: -2px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #FFFFFF;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    /*background: #2aa1c0;*/
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    /*background: #0e647d;*/
    /*background: #efc74a;*/
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 1px;
    left: 4px;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border: solid #efc74a;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    /*background: #fff;*/
    background: #efc74a;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}