/** #### FRIENDS / PARTNERS #### **/
section#friends #slider {
    list-style: none;
    padding: 0px;
    text-align: center;
    overflow: hidden;
}

section#friends #slider img {
    width: 120px;
    margin: 0px;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

section#friends #slider img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

section#friends #slider li {
	display: inline-block;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
}

section#friends #slider .owl-item {
	display: inline-block;
}

section#friends #slider .pager {
    margin: 0;
}

/** #### PAGE FRIENDS / PARTNERS **/
.friends h4 > a {
    color: #efc74a;
}

.friends h4 > a:hover {
    color: #414141;
}

.friends img {
    width: 300px;
    margin: 0px;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.friends img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
