.box-shadow-menu {
    position: relative;
    padding-left: 2.25em;
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.10em;
    background: url('../../img/bg-menu.png') no-repeat 0 0;
	width: 15px;
	height: 13px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.box-shadow-menu:hover:before {
    background-position: 0 -16px;
	width: 15px;
	height: 13px;
}

.links {
    padding-right: 0px;
    margin: 10px 0;
}

header .profile-photo {
    height: 30px;
    padding: 2px;
    width: 30px;
}

.navbar-nav > li > a,
.navbar-brand,
.hamburger {
    display: flex !important;
}

header .user-name {
    display: inline-block;
    padding: 0 0 0 10px;
    text-transform: none;
}

header a:hover .user-name {
    color: #414141;
}

header .nav > li > a:focus,
header .nav > li > a:hover {
    background-color: transparent;
}

header .nav.navbar-nav li {
    padding: 0px;
}

header .nav.navbar-nav li a {
    height: 0px;
}
header .nav.navbar-nav li a {
    padding: 25px 10px;
}

header .nav.navbar-nav li.logout {
    padding: 10px;
}

header .nav.navbar-nav li.logout a {
    padding: 15px 10px;
    border-left: 1px solid #e6e6e6;
    text-transform: uppercase;
    font-weight: bold;
}

header nav.menu-principal {
	position: absolute;
	top: 0;
	left: -179px;
	background: #f3f3f3;
	z-index: 99;
	padding: 0;
}

header nav.menu-principal ul {
	padding: 0;
	text-align: left;
}

header nav.menu-principal ul li {
	border-bottom: 1px solid #ccc;
}

header nav.menu-principal ul li a {
	padding: 15px 32px;
	display: block;
}
