/** #### PLANS #### **/
section#plans {
    background: #414141;
    color: #ffffff;
}

section#plans h1,
section#plans h2,
section#plans h3 {
    color: #ffffff;
}

section#plans h1 {
    margin-bottom: 0px;
}

section#plans h3 {
    margin-top: 0px;
}

section#plans .amount {
    font-size: 33px;
    font-weight: bold;
}

section#plans .amount > span {
    font-size: 16px;
}

section#plans a.btn,
section#plans .info {
    text-transform: uppercase;
}

section#plans a.btn,
section#plans button.btn {
    margin: 30px 0;
}

section#plans .info {
    font-size: 15px;
}

section#plans .info-from {
    text-transform: lowercase;
    font-size: 9px;
}

section#plans .asterisk {
    font-size: 11px;
    text-align: center;
}

fieldset#plans h4,
fieldset#plans h5 {
    margin: 0;
}

fieldset#plans .choose-plan {
    margin-top: 40px;
}

fieldset#plans img {
    margin: 0;
}

fieldset#plans .control-group .text {
    text-transform: capitalize;
    font-size: 14px;
}

fieldset#plans .control-group .text > span {
    color: #efc74a;
    text-transform: none;
}

@media only screen and (max-width : 768px) {
	.register .plano {
		display: block;
	    margin: 0 auto 20px;
	    border-top: 1px solid #ccc;
	    padding: 20px;
	    text-align: center;
	    float: left;
	}
	
	.register .plano h4 {
		margin-top: 20px !important;
	}
	
	.register .plano h4,
	.register .plano h5 {
		text-align: center;
	}
}