body {
    overflow-x: hidden;
}

.register fieldset {
    padding-bottom: 60px;
    min-height: 500px;
}

.register ul.menu-wizard {
    margin-left: -15px;
    margin-right: 15px;
}

.register ul.menu-wizard li {
    text-align: center;
}

.register ul.menu-wizard li:not(:last-child) {
    border-right: 1px solid #e6e6e6;
}

.register ul.menu-wizard li span {
    vertical-align: 15px;
    padding-left: 10px;
}

.register ul.menu-wizard li div.active {
    color: #efc74a;
}

.register h5,
.register h4 {
    text-align: left;
    margin: 0;
}

.register h5 {
	font-size: 14px;
	margin-bottom: 20px;
}

.register .pre-meet {
    margin-bottom: 60px;
}

.register .pre-meet h5 {
    text-transform: none;
    text-align: center;
    margin: 0px;
}

fieldset#confirm.active ~ #next {
    display: none;
}