.informacoes {
	font-family: aller_lightregular;
	font-size: 14px;
}

.informacoes strong {
	color: #46c346;
	font-size: 14px;
}

.informacoes .question {
	display: block;
	background: #f3f3f3;
	margin-bottom: 5px;
	padding: 10px;
}

.informacoes .question + div {
	margin: 5px 10px;
}