/** #### VIDEO #### **/
section#video {

}

section#video .videoWrapper {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: 50px;
}

section#video .videoWrapper iframe,
section#video .videoWrapper object,
section#video .videoWrapper embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}