section#works {
    background: #414141;
    font-size: 12px;
    padding-bottom: 0;
}

section#works h2 {
	color:#fff;
	margin: 0;
}

section#works .block-works:after {
    position: absolute;
    content: "";
    background: url(../img/arrow.png);
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    float: right;
    right: -70px;
    top: 50px;
}

@media screen and (max-width: 991px) {
    section#works .block-works:nth-child(2):after {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    section#works .block-works:after {
        display: none;
    }
}