.breadcrumb {
    padding: 0;
    background: transparent;
    color: #e6e6e6;
}

.profile-pre-text {
    padding: 30px 0;
}

.cut-form {
    font-size: 28px;
    text-align: left;
    padding: 15px 0;
}

.change-plan h5 {
    margin-top: 0;
}

.change-plan h4 {
    margin-bottom: 0px;
}

p.ajude {
	font-size: 15px;
	text-align: center;
	color: #cea117;
}

.tab-pane .form-horizontal .form-group {
	padding-top: 20px;
}
.profile-menu span {
    background: #ab50ff;
    color: #ffffff;
    padding: 5px;
    text-transform: uppercase;
    font-size: 8px;
    margin: 5px;
    line-height: 5px;
    display: inline-block;
}

.profile-menu span.inverse {
    background: transparent;
    color: #ab50ff;
    margin: 0px;
}

.profile-menu  {
    border-right: 2px solid #e6e6e6;
}

.profile-menu .user-coins {
	text-align: center;
	font-size: 18px;
}

.profile-menu  ul {
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
}

.profile-menu ul:last-child {
    border-bottom: none;
}

.profile-menu ul.menu {
	margin: 0;
	padding: 10px 0;
}

.profile-menu ul li {
    margin: 5px 0;
}

.profile-menu ul li a {
    font-size: 14px;
	font-weight: initial;
}

.profile-menu h5 {
    text-align: left;
    margin-bottom: 5px;
}

.profile-menu p {
    margin: 0px;
    font-size: 12px;
    color: #cccccc;
}

.profile-menu .photo-user img ~ label {
    position: absolute;
    right: 20px;
    top: 95px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.profile-menu .photo-user img:hover ~ label,
.profile-menu .photo-user img ~ label:hover {
    opacity: 1;
}
section#vitrine-menu {
    background: #414141;
    padding: 0;
    color: #e6e6e6;
}

section#vitrine-menu ul {
    padding: 20px 0;
    margin-bottom: 0;
}

section#vitrine-menu ul li {
    border-right: 1px solid #e6e6e6;
    padding: 0 20px;
    display: inline-block;
}
section#vitrine-menu ul li:last-child {
    border-right: none;
}

section#vitrine-menu ul li a {
    color: #e6e6e6;
}

section#vitrine {
    padding: 0;
}

section#vitrine-filter {
    background: #e6e6e6;
    padding: 20px 0;
    color: #414141;
    text-align: center;
}

section#vitrine .product-border {
    border: 1px solid #e6e6e6;
    border-top: 0px;
    border-left: 0px;
    height: 500px;
    padding: 0;

}

.block-product {
    padding: 60px 0;
}

.block-product .options {
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
    width: 100%;
}

.block-product .vitrine-product-top {
    position: absolute;
    top: 40px;
    margin: 0 auto;
    width: 100%;
}

.block-product .img-product {
    position: absolute;
    top: 120px;
    margin: 0 auto;
    width: 100%;
}

.block-product h5 {
    margin: 10px 0 0 0;
}

.block-product h6 {
    font-size: 9px;
    margin: 0;
}

.block-product .coin-value .show-coin {
    margin-top: 15px;
}

.block-product .progress-text {
    font-size: 11px;
    margin-bottom: 5px;
}

ul.product-buttons {
    padding: 0;
}

ul.product-buttons li {
    width: 30px;
    height: 30px;
    text-align: center;
}

.ul-buttons,
.product-details,
.progressbar-row,
.coin-value
{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product-border .ul-buttons,
.product-border .product-details,
.product-border:hover .progressbar-row,
.product-border:hover .coin-value {
    opacity: 0;
    /*height: 0;*/
}

.product-border:hover  .ul-buttons,
.product-border:hover .product-details {
    opacity: 1;
    /*height: auto;*/
}


.block-product ul.product-buttons li {
    display: inline-block;
}

.block-product ul.product-buttons {
    padding: 20px;
}

.block-product ul.product-buttons a.love {
    color: #efc74a;
}

.block-product ul.product-buttons a.love:hover i.fa-heart {
    display: inline-block;
}

.block-product ul.product-buttons a.love i.fa-heart,
.block-product ul.product-buttons a.love:hover i.fa-heart-o {
    display: none;
}

.block-product ul.product-buttons a.unlove {
    color: #e66450;
}

.block-product ul.product-buttons a.unlove:hover i.fa-heart-o {
    display: inline-block;
}

.block-product ul.product-buttons a.unlove i.fa-heart-o,
.block-product ul.product-buttons a.unlove:hover i.fa-heart {
    display: none;
}

.block-product ul.product-buttons a.add {
    color: #46c346;
}

.block-product ul.product-buttons a.add:hover i.myb-box-o {
    display: inline-block;
}

.block-product ul.product-buttons a.add i.myb-box-o,
.block-product ul.product-buttons a.add:hover i.myb-box {
    display: none;
}

.block-product ul.product-buttons a.remove {
    color: #e66450;
}

.block-product ul.product-buttons a.remove:hover i.myb-box-remove-o {
    display: inline-block;
}

.block-product ul.product-buttons a.remove i.myb-box-remove-o,
.block-product ul.product-buttons a.remove:hover i.myb-box-remove {
    display: none;
}

ul.product-buttons li a {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    display: block;
    width: 29px;
    height: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.product-buttons li a.love {
    color: #efc74a;
    border: 1px solid #efc74a;
}

ul.product-buttons li a.love:hover,
ul.product-buttons li.active a.love  {
    color: #ffffff;
    border: 1px solid #414141;
    background: #efc74a;
}

ul.product-buttons a.love:hover i,
a.love:hover i {
    animation: pulse .5s;
    -webkit-animation: pulse .5s;
    animation-iteration-count: infinite;
}
/*
ul.product-buttons li a.add {
    color: #46c346;
    border: 1px solid #46c346;
}

ul.product-buttons li a.add:hover {
    color: #ffffff;
    border: 1px solid #414141;
    background: #46c346;
}

ul.product-buttons li a.remove {
    color: #e66450;
    border: 1px solid #e66450;
}

ul.product-buttons li a.remove:hover {
    color: #ffffff;
    border: 1px solid #414141;
    background: #e66450;
}

ul.product-buttons li a.zoom {
    color: #414141;
    border: 1px solid #414141;
}

ul.product-buttons li a.zoom:hover {
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
    background: #414141;
}

ul.product-buttons li a.gallery {
    color: #ab50ff;
    border: 1px solid #ab50ff;
}

ul.product-buttons li a.gallery:hover {
    color: #a6a6a6;
    border: 1px solid #a6a6a6;
    background: #ab50ff;
}*/

.block-product .img-product img {
    position: relative;
    max-height: 260px;
}

.block-product:hover .img-product .about {
    opacity: 0.8;
}

.block-product:hover .img-product .about span {
    opacity: 1;
}

.block-product .img-product .about {
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.block-product .img-product .about span {
    color: #414141;
    opacity: 0;
    top: 50%;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

progress {
    border: 0;
    border-radius: 50px;
    background: #efc74a;
}

progress::-webkit-progress-bar {
    border: 1px solid #414141;
    border-radius: 50px;
    background: #ffffff;
}

progress::-webkit-progress-value {
    border: 0;
    border-radius: 50px;
    background: #efc74a;
}

progress.sold-out,
progress.sold-out::-webkit-progress-value {
    background: #e66450;
}


section#vitrine-filter a.go-to-vitrine {
    border: 1px solid #414141;
    padding: 10px;
    color: #414141;
}

.product-page {
    padding: 60px 0;
}

.product-page .product-image {
    margin-bottom: 30px;
}

.product-page ul.product-buttons {
    display: inline-block;
    padding: 0;
}

.product-page .product-info {
    padding: 0;
}

.product-page ul.product-buttons li {
    display: block;
    margin-left: 0;
    margin-top: 2px;
}

.product-page ul.product-buttons li a {
    color: #414141;
    border: 1px solid #414141;
}

.product-page ul.product-buttons li.active a.add {
    border: 1px solid #46c346;
}

.product-page ul.product-buttons li a.remove {
    border: 1px solid #e66450;
}

.product-page ul.product-buttons li a.love:hover {
    color: #414141;
}

.product-page ul.product-buttons li a {
    padding: 5px 0;
}

.product-page ul.product-buttons li:first-child {
    margin-top: 0;
}

.product-page .product-value {
    text-align: center;
    font-family: allerregular;
    font-weight: bold;
    font-size: 14px;
    border-top: 1px solid #e6e6e6;
    padding: 30px 0;
}

.product-page h4 {
    text-align: left;
}

.product-page h4 > span {
    font-size: 9px;
}

.product-page .product-details {
    text-align: left;
    font-family: aller_lightregular;
    color: #8d8d8d;
    font-weight: normal;
}

.product-page .buttons {
    display: block;
    margin: 30px 0;
}

.product-page .buttons a {
    padding: 10px;
    border: 1px solid #414141;
}

.product-page .buttons a.love {
    border-color: #efc74a;
    color: #efc74a;
    background: transparent;
}

.product-page .buttons a.love:hover,
.product-page .buttons a.love.active {
    background-color: #efc74a;
    color: #414141;
}

.product-page .buttons a.add {
    border-color: #46c346;
    color: #46c346;
}

.product-page .buttons a.add:hover,
.product-page .buttons a.add.active {
    background-color: #46c346;
    color: #e6e6e6;
}
.my-item:after {
    content: '+';
    position: absolute;
    top: 120px;
    right: -8px;
    font-size: 24px;
    font-weight: bold;
}

.my-item {
    padding: 20px;
    max-height: 300px;
}

.my-item .product-value {
    text-align: center;
}

.my-item .product-image {
    width: 180px;
    height: 180px;
    border: 1px solid #414141;
    border-radius: 3px;
    margin: 10px 0;
}

.my-item .product-image label.btn-remove {
    position: absolute;
    bottom: 80px;
    right: 40px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.my-item .product-image:hover label.btn-remove {
    opacity: 1;
}

.my-item .product-info {
    text-align: center;
}

a.hold-add-item .add-item {
    margin: 50px 15px;
    height: 180px;
    width: 180px;
    padding: 70px 40px;
    border: 1px dashed #e6e6e6;
    border-radius: 3px;
    text-align: center;
    color: #e6e6e6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.hold-add-item .add-item span {
    padding: 50px;
}

a.hold-add-item:hover .add-item {
    border: 1px dashed #414141;
    color: #414141;
}

.title-my-box {
    margin-bottom: 30px;
}

.details-plan .the-plan h4,
.details-plan .the-plan h5, 
.details-plan .the-plan h6 {
    margin: 0;
    text-align: left;
}

.details-plan .the-plan .text {
    margin-top: 50px;
}

.details-plan .block-partner a {
    color: #46c346
}

.details-plan .the-plan h6 {
	font-size: 10px;
	color: #efc74a;
}
.change-plan .block-plan h4,
.change-plan .block-plan h5 {
    margin: 0;
    text-align: left;
}

.change-plan .block-plan .choose-plan {
    margin-top: 30px;
}


.control-fidelity {
	background: url('../img/controlefidelidade.png') no-repeat 0 -107px;
	width: 98px;
	height: 97px;
}

.control-fidelity span {
	position: absolute;
    top: 30px;
    left: 48px;
    font-size: 26px;
    color: #a6a6a6;
}

.month {
	margin: 30px 0;
}

.control-fidelity.active span {
    color: #efc74a;
}

.month .label-month {
	margin-left: 20px;
	margin-top: 10px;
}

.control-fidelity.active {
	background: url('../img/controlefidelidade.png') no-repeat -108px -107px;
}

.control-fidelity.gift {
	background: url('../img/controlefidelidade.png') no-repeat 0 0;
}

.control-fidelity.gift.active {
	background: url('../img/controlefidelidade.png') no-repeat -108px 0;
}
/*# sourceMappingURL=profile.css.map */
