@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller_bd-mybfont.woff2') format('woff2'),
         url('../fonts/aller_bd-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerbold_italic';
    src: url('../fonts/aller_bdit-mybfont.woff2') format('woff2'),
         url('../fonts/aller_bdit-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_displayregular';
    src: url('../fonts/allerdisplay-mybfont.woff2') format('woff2'),
         url('../fonts/allerdisplay-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alleritalic';
    src: url('../fonts/aller_it-mybfont.woff2') format('woff2'),
         url('../fonts/aller_it-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightregular';
    src: url('../fonts/aller_lt-mybfont.woff2') format('woff2'),
         url('../fonts/aller_lt-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightitalic';
    src: url('../fonts/aller_ltit-mybfont.woff2') format('woff2'),
         url('../fonts/aller_ltit-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_rg-mybfont.woff2') format('woff2'),
         url('../fonts/aller_rg-mybfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-viewport {
    width: device-width;
}

.modal-dialog {
	margin: 100px auto;
}

@media screen and (max-width: 480px) {
    body, input, select, textarea, label, a, .btn {
        font-size: 11px;
    }

    section#plans .asterisk {
        font-size: 8px;
    }

    section#banner h1 > span {
        padding: 0.5px 5px;
    }

    section#banner a.btn + a.btn {
        margin-left: 0px;
    }

    section#banner {
        min-height: 450px;
    }

    section#banner h1 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    section#banner .typing {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 360px) {
    body, input, select, textarea, label, a, .btn {
        font-size: 11px;
    }
}

#spark-navbar-collapse {
    margin: 0px !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.img-responsive {
    display: inline-block;
}

header .img-responsive {
	display: inline-block;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
    width: auto;
}

.media.button {
    background-color: #efc74a;
    height: 30px;
    width: 30px;
    padding: 1px;
    display: inline-block;
    color: #414141;
    text-align: center;
    font-size: 20px;
    transition: all .5s;
}

.media.button:hover {
	background-color: #414141;
	color: #efc74a;
}

/* Basic */
body {
    background: #FFFFFF;
    font-family: 'aller_lightregular';
    font-weight: bold;
    font-size: 13px;
    color: #414141;
    transition: margin .5s;
    padding-top: 48px;
}

body.menu-ativo {
	margin-left: 180px;
}

a {
    cursor: pointer;
    font-family: allerregular;
    color: #414141;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

b,
strong {
    font-weight: bold !important;
}

a:hover,
a:focus {
    color: #efc74a;
    text-decoration: none;
}

a.btn {
    padding: 10px 20px;
    border-radius: 30px;
    background: #efc74a;
    color: #414141;
    border: 2px solid #efc74a;
    white-space: normal;
}

a.btn:hover {
    background: transparent;
    color: #efc74a;
    border: 2px solid #efc74a;
}

a.btn.white {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

a.btn.white:hover {
    background: #ffffff;
    color: #414141;
}

h1, h2, h3, h4, h5, h6 {
    font-family: allerregular;
    color: #414141;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.center {
	display: block;
	margin: auto;
	float: none !important;
}

.area-buttons {
	margin-top: 20px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.dib {
    display: inline-block;
}

.yellow {
    color: #efc74a;
}

.white {
    color: #ffffff;
}

.red {
    color: #e66450;
}

.green {
	color: #46c346;
}

.purple {
    color: #ab50ff;
}

.bold {
    font-weight: bold;
}

.va-top {
    vertical-align: top;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

header {
    background: #f3f3f3;
	position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    border-color: #efc74a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 199, 74, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 199, 74, .6);
}

header img {
    margin: 10px 0;
}

header a {
    text-transform: uppercase;
    font-weight: bold;
}

/** #### FOOTER #### **/

footer {
    padding-top: 30px;
    background: #f3f3f3;
    font-size: 12px;
    font-family: 'aller_lightregular';
}

footer ul {
    padding-left: 0px;
}

footer .container-fluid {
    margin-top: 30px;
}

footer ul.copyright {
    font-size: 10px;
    padding: 10px;
    background: #414141;
    color: #ffffff;
    text-align: center;
    text-transform: none;
    margin: 0 0;
}

footer li,
footer li a {
    text-transform: none;
    font-size: 12px;
    font-family: 'aller_lightregular';
}

footer .media li {
    display: inline-block;
}

footer ul h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'allerbold';
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

footer ul.logo h4 {
    padding-bottom: 5px;
}

footer hr {
    margin: 60px 15px;
    background: #e6e6e6;
    color: #e6e6e6;
    border: 0;
    height: 3px;
    box-shadow: 0 10px 10px -10px #ffffff inset;
}

nav {
    padding: 15px 23px;
    border-right: 1px solid #cccccc;
    display: inline;
    padding-left: 0px;
}

ul, li, ol {
    list-style: none;
}

section {
    padding: 60px 0;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    text-align: center;
}

button,
button.btn {
    padding: 10px 20px;
    background: #efc74a;
    color: #414141;
    border-radius: 0px;
}

div[coins] {
    display: inline-block;
}

.coins {
    background: url("../img/coins.png");
    display: inline-block;
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.myb-box {
    background: url('../img/myb-box.png') no-repeat -25px -2px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.myb-box-o {
    background: url('../img/myb-box.png') no-repeat -25px -30px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.myb-box-remove {
    background: url('../img/myb-box.png') no-repeat -50px -2px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.myb-box-remove-o {
    background: url('../img/myb-box.png') no-repeat -50px -30px;
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.myb-box-gg {
    background: url('../img/myb-box-gg.png') no-repeat -100px 0;
    width: 90px;
    height: 101px;
    display: inline-block;
    vertical-align: middle;
}

.myb-lupe {
    background: url('../img/stripe-icons.png') no-repeat -5px -5px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.myb-lupe:hover,
.myb-lupe.active,
.active .myb-lupe {
    background: url('../img/stripe-icons.png') no-repeat -45px -5px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.myb-gallery {
    background: url('../img/stripe-icons.png') no-repeat -5px -50px;
    width: 20px;
    height: 14px;
    display: inline-block;
    vertical-align: sub;
}

.myb-gallery:hover,
.myb-gallery.active,
.active .myb-gallery {
    background: url('../img/stripe-icons.png') no-repeat -45px -50px;
    width: 20px;
    height: 14px;
    display: inline-block;
    vertical-align: sub;
}

.myb-like {
    background: url('../img/stripe-icons.png') no-repeat -45px -91px;
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: sub;
}

.myb-like:hover,
.myb-like.active,
.active .myb-like,
:hover > .myb-like {
    background: url('../img/stripe-icons.png') no-repeat -5px -91px;
    width: 20px;
    height: 16px;
}

.myb-box-g-disabled {
    background: url('../img/stripe-icons.png') no-repeat -45px -130px;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.myb-box-g {
    background: url('../img/stripe-icons.png') no-repeat -5px -130px;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
}

.product-page .myb-box-g:hover,
.product-page .myb-box-g.active,
.product-page .active .myb-box-g,
.product-page :hover > .myb-box-g,
.product-page .myb-box-remove-g:hover,
.product-page .myb-box-remove-g.active,
.product-page .active .myb-box-remove-g,
.product-page :hover > .myb-box-remove-g {
    background: url('../img/stripe-icons.png') no-repeat -45px -130px;
    width: 20px;
    height: 22px;
}

.myb-box-remove-g {
    background: url('../img/stripe-icons.png') no-repeat -5px -172px;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
}

.bootstrap-select button.btn {
    background: #f3f3f3;
}

.caps {
    text-transform: uppercase;
}

.pre-section {
    background: #f3f3f3;;
}

.pre-section h1 {
    color: #a6a6a6;
    font-size: 28px;
}

.pre-section h3 {
    color: #efc74a;
    text-transform: none;
}

.pre-section h2 {
    margin: 60px 0;
}

.pre-section + section h4 {
    font-family: 'aller_lightregular';
    text-transform: none;
}

.alert {
    padding: 15px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border: none;
    font-family: allerregular;
    font-weight: bold;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.alert i,
.alert div {
    padding-left: 5px;
    display: table-cell;
}

.alert div,
.alert span {
    vertical-align: middle;
}

.alert-warning {
    background: #ab50ff;
    color: #FFFFFF;
}

.alert-success {
    background: #efc74a;
    color: #414141;
}

.alert-danger {
    background: #e66450;
    color: #FFFFFF;
}

li.dropdown:hover > ul.dropdown-menu,
li.dropdown:active > ul.dropdown-menu{
    display: block;
}

header .nav.navbar-nav ul.dropdown-menu li a {
    padding: 15px 5px;
    height: 45px;
    text-transform: none;
}

header .nav.navbar-nav ul.dropdown-menu li a:hover {
    background: #e6e6e6;
}

header .nav.navbar-nav ul.dropdown-menu .dropdown-menu .divider {
    margin: 3px 0;
}

header .nav.navbar-nav ul.dropdown-menu .dropdown-header {
    padding: 3px 10px;
}

#funciona {
	padding: 0;
	margin: 0;
}

#funciona .item {
	width: 100%;
	height: 413px;
	background: #414141;
	display: block;
	float: left;
	text-align: center;
}

#funciona .item p {
	color: #e6e6e6;
	font-family: 'allerbold';
	font-size: 26px;
}

#funciona .item p span {
	color: #f0c84b;
}

#funciona .item .insane,
#funciona .item .survival {
	background: url('../img/banner_home.png') no-repeat 0 0;
	width: 197px;
	height: 172px;
	display: block;
	margin: auto;
}

#funciona .item .survival {
	background-position: -226px 0;
}

#funciona .item1 .container,
#funciona .item2 .container {
	margin-top: 120px;
}

#funciona .item1 p,
#funciona .item2 p {
	margin-top: 30px;
}

#funciona .item3 .container,
#funciona .item5 .container,
#funciona .item6 .container {
	margin-top: 30px;
}

#funciona .item3 .funko {
	display: block;
	background: url('../img/banner_home.png') no-repeat 0 -200px;
	width: 296px;
	height: 110px;
	margin: 40px auto;
}

#funciona .item4 .container {
	margin-top: 45px;
}

#funciona .item4 .camisa {
	display: block;
	background: url('../img/banner_home.png') no-repeat -197px -200px;
	width: 99px;
	height: 78px;
	margin: 40px auto;
}

#funciona .item5 .caixa {
	display: block;
	background: url('../img/banner_home.png') no-repeat -325px -211px;
	width: 86px;
	height: 99px;
	margin: 40px auto;
}

#funciona .item6 .coin {
	margin: 20px auto 30px;
}

#funciona .item6 .coin .col-lg-4:nth-child(1):after,
#funciona .item6 .coin .col-lg-4:nth-child(2):after {
	content: "+";
	display: block;
    color: #e6e6e6;
    font-size: 30px;
    position: absolute;
    top: 60px;
    right: 0;
}

#funciona .item6 .coin .col-lg-4:nth-child(2):after {
	content: "=";
}

#funciona .item6 .coin .coins {
	display: block;
	background: url('../img/banner_home.png') no-repeat -356px -330px;
	width: 55px;
	height: 55px;
	margin: 40px auto 10px;
}
/*
#funciona .owl-dots {
	text-align: right;
    margin-top: -30px;
    position: relative;
    margin-right: 20px;
}

#funciona .owl-dots .owl-dot {
	display: inline-block;
	background: #e6e6e6;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	transition: all 1s;
}

#funciona .owl-dots .owl-dot.active {
	background: #f0c84b;
}*/


#funciona .owl-nav .owl-prev,
#funciona .owl-nav .owl-next {
	background: url('../img/banner_home.png') no-repeat -26px -325px;
	width: 56px;
	height: 106px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -53px;
	left: 30px;
}

#funciona .owl-nav .owl-next {
	background-position: -92px -325px;
	left: auto;
	right: 10px;
}

section#vitrine-menu {
    background: #414141;
    padding: 0;
    color: #e6e6e6;
}

section#vitrine-menu ul {
    padding: 20px 0;
    margin-bottom: 0;
}

section#vitrine-menu ul li {
    border-right: 1px solid #e6e6e6;
    padding: 0 20px;
    display: inline-block;
}
section#vitrine-menu ul li:last-child {
    border-right: none;
}

section#vitrine-menu ul li a {
    color: #e6e6e6;
}

section#vitrine {
    padding: 0;
}

section#vitrine h2 {
	font-size: 16px;
}

section#vitrine-filter {
    background: #e6e6e6;
    padding: 20px 0;
    color: #414141;
    text-align: center;
}

section#vitrine .product-border {
    border: 1px solid #e6e6e6;
    border-top: 0px;
    border-left: 0px;
    height: 500px;
    padding: 0;

}

.block-product {
    padding: 60px 0;
}

.block-product .options {
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
    width: 100%;
}

.block-product .vitrine-product-top {
    position: absolute;
    top: 40px;
    margin: 0 auto;
    width: 100%;
}

.block-product .img-product {
    position: absolute;
    top: 120px;
    margin: 0 auto;
    width: 100%;
}

.block-product h5 {
    margin: 10px 0 0 0;
}

.block-product h6 {
    font-size: 9px;
    margin: 0;
}

.block-product .coin-value .show-coin {
    margin-top: 15px;
}

.block-product .progress-text {
    font-size: 11px;
    margin-bottom: 5px;
}

ul.product-buttons {
    padding: 0;
}

ul.product-buttons li {
    width: 30px;
    height: 30px;
    text-align: center;
}

.ul-buttons,
.product-details,
.progressbar-row,
.coin-value
{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product-border .ul-buttons,
.product-border .product-details,
.product-border:hover .progressbar-row,
.product-border:hover .coin-value {
    opacity: 0;
    /*height: 0;*/
}

.product-border:hover  .ul-buttons,
.product-border:hover .product-details {
    opacity: 1;
    /*height: auto;*/
}


.block-product ul.product-buttons li {
    display: inline-block;
}

.block-product ul.product-buttons {
    padding: 20px;
}

.block-product ul.product-buttons a.love {
    color: #efc74a;
}

.block-product ul.product-buttons a.love:hover i.fa-heart {
    display: inline-block;
}

.block-product ul.product-buttons a.love i.fa-heart,
.block-product ul.product-buttons a.love:hover i.fa-heart-o {
    display: none;
}

.block-product ul.product-buttons a.unlove {
    color: #e66450;
}

.block-product ul.product-buttons a.unlove:hover i.fa-heart-o {
    display: inline-block;
}

.block-product ul.product-buttons a.unlove i.fa-heart-o,
.block-product ul.product-buttons a.unlove:hover i.fa-heart {
    display: none;
}

.block-product ul.product-buttons a.add {
    color: #46c346;
}

.block-product ul.product-buttons a.add:hover i.myb-box-o {
    display: inline-block;
}

.block-product ul.product-buttons a.add i.myb-box-o,
.block-product ul.product-buttons a.add:hover i.myb-box {
    display: none;
}

.block-product ul.product-buttons a.remove {
    color: #e66450;
}

.block-product ul.product-buttons a.remove:hover i.myb-box-remove-o {
    display: inline-block;
}

.block-product ul.product-buttons a.remove i.myb-box-remove-o,
.block-product ul.product-buttons a.remove:hover i.myb-box-remove {
    display: none;
}

ul.product-buttons li a {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    display: block;
    width: 29px;
    height: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.product-buttons li a.love {
    color: #efc74a;
    border: 1px solid #efc74a;
}

ul.product-buttons li a.love:hover,
ul.product-buttons li.active a.love  {
    color: #ffffff;
    border: 1px solid #414141;
    background: #efc74a;
}

ul.product-buttons a.love:hover i,
a.love:hover i {
    animation: pulse .5s;
    -webkit-animation: pulse .5s;
    animation-iteration-count: infinite;
}

.block-product .img-product img {
    position: relative;
    max-height: 260px;
}

.block-product:hover .img-product .about {
    opacity: 0.8;
}

.block-product:hover .img-product .about span {
    opacity: 1;
}

.block-product .img-product .about {
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.block-product .img-product .about span {
    color: #414141;
    opacity: 0;
    top: 50%;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width : 768px) {
	#funciona .item .insane,
	#funciona .item .survival,
	#funciona .item6 .coin p,
	#funciona .item2 span + p,
	#funciona .item6 .coin .col-lg-4:nth-child(1):after,
	#funciona .item6 .coin .col-lg-4:nth-child(2):after {
		display: none;
	}
	
	#funciona .item6 .container {
		margin-top: 50px;
	}
	
	#funciona .item p {
		font-size: 18px;
	}
	
	
}
.box-shadow-menu {
    position: relative;
    padding-left: 2.25em;
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.10em;
    background: url('../../img/bg-menu.png') no-repeat 0 0;
	width: 15px;
	height: 13px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.box-shadow-menu:hover:before {
    background-position: 0 -16px;
	width: 15px;
	height: 13px;
}

.links {
    padding-right: 0px;
    margin: 10px 0;
}

header .profile-photo {
    height: 30px;
    padding: 2px;
    width: 30px;
}

.navbar-nav > li > a,
.navbar-brand,
.hamburger {
    display: flex !important;
}

header .user-name {
    display: inline-block;
    padding: 0 0 0 10px;
    text-transform: none;
}

header a:hover .user-name {
    color: #414141;
}

header .nav > li > a:focus,
header .nav > li > a:hover {
    background-color: transparent;
}

header .nav.navbar-nav li {
    padding: 0px;
}

header .nav.navbar-nav li a {
    height: 0px;
}
header .nav.navbar-nav li a {
    padding: 25px 10px;
}

header .nav.navbar-nav li.logout {
    padding: 10px;
}

header .nav.navbar-nav li.logout a {
    padding: 15px 10px;
    border-left: 1px solid #e6e6e6;
    text-transform: uppercase;
    font-weight: bold;
}

header nav.menu-principal {
	position: absolute;
	top: 0;
	left: -179px;
	background: #f3f3f3;
	z-index: 99;
	padding: 0;
}

header nav.menu-principal ul {
	padding: 0;
	text-align: left;
}

header nav.menu-principal ul li {
	border-bottom: 1px solid #ccc;
}

header nav.menu-principal ul li a {
	padding: 15px 32px;
	display: block;
}

section#banner {
    background: url('../../img/img_banner_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    -webkit-transition: min-height .8s ease-in;
    -moz-transition: min-height .8s ease-in;
    -ms-transition: min-height .8s ease-in;
    -o-transition: min-height .8s ease-in;
    transition: min-height .8s ease-in;
}

section#banner .typing {
    margin-top: 200px;
    margin-bottom: 50px;
}

section#banner h1 {
    color: #ffffff;
}

section#banner h1 > span {
    background: #efc74a;
    color: #414141;
    padding: 8px;
}

section#banner a.btn + a.btn {
    margin-left: 30px;
}
section#works {
    background: #414141;
    font-size: 12px;
    padding-bottom: 0;
}

section#works h2 {
	color:#fff;
	margin: 0;
}

section#works .block-works:after {
    position: absolute;
    content: "";
    background: url(../img/arrow.png);
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    float: right;
    right: -70px;
    top: 50px;
}

@media screen and (max-width: 991px) {
    section#works .block-works:nth-child(2):after {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    section#works .block-works:after {
        display: none;
    }
}
/** #### VIDEO #### **/
section#video {

}

section#video .videoWrapper {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: 50px;
}

section#video .videoWrapper iframe,
section#video .videoWrapper object,
section#video .videoWrapper embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/** #### PLANS #### **/
section#plans {
    background: #414141;
    color: #ffffff;
}

section#plans h1,
section#plans h2,
section#plans h3 {
    color: #ffffff;
}

section#plans h1 {
    margin-bottom: 0px;
}

section#plans h3 {
    margin-top: 0px;
}

section#plans .amount {
    font-size: 33px;
    font-weight: bold;
}

section#plans .amount > span {
    font-size: 16px;
}

section#plans a.btn,
section#plans .info {
    text-transform: uppercase;
}

section#plans a.btn,
section#plans button.btn {
    margin: 30px 0;
}

section#plans .info {
    font-size: 15px;
}

section#plans .info-from {
    text-transform: lowercase;
    font-size: 9px;
}

section#plans .asterisk {
    font-size: 11px;
    text-align: center;
}

fieldset#plans h4,
fieldset#plans h5 {
    margin: 0;
}

fieldset#plans .choose-plan {
    margin-top: 40px;
}

fieldset#plans img {
    margin: 0;
}

fieldset#plans .control-group .text {
    text-transform: capitalize;
    font-size: 14px;
}

fieldset#plans .control-group .text > span {
    color: #efc74a;
    text-transform: none;
}

@media only screen and (max-width : 768px) {
	.register .plano {
		display: block;
	    margin: 0 auto 20px;
	    border-top: 1px solid #ccc;
	    padding: 20px;
	    text-align: center;
	    float: left;
	}
	
	.register .plano h4 {
		margin-top: 20px !important;
	}
	
	.register .plano h4,
	.register .plano h5 {
		text-align: center;
	}
}
/** #### FRIENDS / PARTNERS #### **/
section#friends #slider {
    list-style: none;
    padding: 0px;
    text-align: center;
    overflow: hidden;
}

section#friends #slider img {
    width: 120px;
    margin: 0px;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

section#friends #slider img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

section#friends #slider li {
	display: inline-block;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
}

section#friends #slider .owl-item {
	display: inline-block;
}

section#friends #slider .pager {
    margin: 0;
}

/** #### PAGE FRIENDS / PARTNERS **/
.friends h4 > a {
    color: #efc74a;
}

.friends h4 > a:hover {
    color: #414141;
}

.friends img {
    width: 300px;
    margin: 0px;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.friends img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

.contato form textarea {
    min-height: 293px;
    height: 293px;
}
.about h5 {
    text-align: left;
    font-weight: normal;
}

.about .text,
.about img {
    margin: 60px 0;
}
body {
    overflow-x: hidden;
}

.register fieldset {
    padding-bottom: 60px;
    min-height: 500px;
}

.register ul.menu-wizard {
    margin-left: -15px;
    margin-right: 15px;
}

.register ul.menu-wizard li {
    text-align: center;
}

.register ul.menu-wizard li:not(:last-child) {
    border-right: 1px solid #e6e6e6;
}

.register ul.menu-wizard li span {
    vertical-align: 15px;
    padding-left: 10px;
}

.register ul.menu-wizard li div.active {
    color: #efc74a;
}

.register h5,
.register h4 {
    text-align: left;
    margin: 0;
}

.register h5 {
	font-size: 14px;
	margin-bottom: 20px;
}

.register .pre-meet {
    margin-bottom: 60px;
}

.register .pre-meet h5 {
    text-transform: none;
    text-align: center;
    margin: 0px;
}

fieldset#confirm.active ~ #next {
    display: none;
}
label,
form .form-group label {
	display: block;
	color:  #414141;
	font-size: 16px;
	text-align: left;
	padding: 0px;
	white-space: normal;
}

select,
select.form-control,
input,
.input-lg,
.input-md,
.input-sm,
.input-xs,
.btn-select,
input.form-control {
	background-color: #f3f3f3;
	border-radius: 0px;
	border: 1px solid #a6a6a6;
	width: 100%;
}

form button,
button.btn {
	font-family: 'allerregular';
	font-weight: bold;
	border-radius: 0px;	
}

form button[type="submit"].btn,
button.btn {
	padding: 20px;
	text-transform: uppercase;
	border-bottom: 3px solid #efc74a;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

form button[type="submit"].btn:hover,
button.btn:hover {
	border-bottom: 3px solid #414141;
	color: #efc74a;
	background: #414141;
}

form textarea {
	resize: none;
	width: 100%;
	min-height: 300px;
}

button.btn.btn-white {
	background: #ffffff;
	color: #efc74a;
	border: 1px solid #efc74a;
	border-bottom: 2px solid #efc74a;
}

.form-control:focus {
	border-color: #efc74a;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 199, 74, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 199, 74, .6);
}

@media screen and (max-width: 480px) {
	label,
	form .form-group label {
		font-size: 13px;
	}

	form button[type="submit"].btn,
	button.btn {
		white-space: normal;
		font-size: 14px;
		font-weight: bold;
	}
}

@media only screen and (max-width : 768px) {
	.register .form-horizontal .form-group {
		border-top: 1px solid #ccc;
		padding-top: 15px;
	}
}
.control-group {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.control-group .control--checkbox .text,
.control-group .control--radio .text {
    margin: 0 0 0 20px;
}

.control {
    position: relative;
    cursor: pointer;
    display: inline-block;
    float: left;
    width: auto;
    top: -2px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #FFFFFF;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    /*background: #2aa1c0;*/
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    /*background: #0e647d;*/
    /*background: #efc74a;*/
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 1px;
    left: 4px;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border: solid #efc74a;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    /*background: #fff;*/
    background: #efc74a;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
.informacoes {
	font-family: aller_lightregular;
	font-size: 14px;
}

.informacoes strong {
	color: #46c346;
	font-size: 14px;
}

.informacoes .question {
	display: block;
	background: #f3f3f3;
	margin-bottom: 5px;
	padding: 10px;
}

.informacoes .question + div {
	margin: 5px 10px;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/*# sourceMappingURL=style.css.map */
